<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HospitalManagementSystem"
			 connectionString="Data Source=HIM-SOMEALEA\SQLEXPRESS01;Initial Catalog=HospitalManagementSystem;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>